eva_worker/n8n.json
{
  "name": "EVA Reddit Ingestion",
  "nodes": [
    {
      "parameters": {
        "url": "https://www.reddit.com/r/MakeupAddiction/new.json?limit=5",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "eva-n8n-bot/0.1 by koolhand"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [208, 0],
      "id": "71c3ebc6-37ac-4731-b444-67c17d6e5268",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "// Expecting Reddit's new.json structure:\n// $json.data.children is an array of { data: { ... } }\n\nconst children = $json.data?.children || [];\n\nreturn children.map(child => {\n  const d = child.data;\n\n  const textParts = [d.title || \"\"];\n  if (d.selftext) {\n    textParts.push(d.selftext);\n  }\n\n  const fullText = textParts.join(\" - \").trim();\n\n  return {\n    json: {\n      source: \"reddit\",\n      platform_id: d.id,\n      timestamp: new Date(d.created_utc * 1000).toISOString(),\n      text: fullText,\n      url: \"https://www.reddit.com\" + d.permalink,\n      meta: {\n        subreddit: d.subreddit,\n        author: d.author,\n        score: d.score,\n        num_comments: d.num_comments\n      }\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [416, 0],
      "id": "6831195f-5103-430d-b52b-d33537d7d5ec",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://10.10.0.210:9080/intake/message",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$json}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [624, 0],
      "id": "a9f8a34c-0c5a-4f98-a71d-3f371add2aa2",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [32, 0],
      "id": "6f24ac01-c058-440d-be25-7266a94a2f7d",
      "name": "Schedule Trigger"
    },

    {
      "parameters": {
        "mode": "chooseBranch",
        "output": "input1",
        "numberInputs": 2
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [820, 0],
      "id": "b9a9d6ad-0f8c-4f7e-9c13-9c9b4a1fbb01",
      "name": "Merge (collapse)"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, created_at, event_type, day, tag, brand, severity, payload\nFROM public.signal_events\nWHERE acknowledged = false\n  AND event_type IN ('RECOMMENDATION_ELIGIBLE','WATCHLIST_WARM')\nORDER BY created_at ASC\nLIMIT 25;"
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [1020, 0],
      "id": "b6ddf2a4-6a8d-4d9c-a8d8-9a7b0d2b4d02",
      "name": "PG: Fetch Events",
      "credentials": {
        "postgres": {
          "id": "__SET_ME__",
          "name": "__SET_ME__"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [1220, 0],
      "id": "e5a8e9b4-7d2c-4c0e-a4a2-2a9cbd6d7a11",
      "name": "Split In Batches (1)"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.event_type}}",
              "operation": "equals",
              "value2": "RECOMMENDATION_ELIGIBLE"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1420, 0],
      "id": "c3d2e5c7-2c15-4c3b-a0e0-2c9f0bd92b33",
      "name": "IF: Eligible?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://10.10.0.210:8085/eva-finance",
        "sendBody": true,
        "specifyBody": "raw",
        "bodyContentType": "raw",
        "body": "EVA ALERT\\n\\n{{$json.event_type}}\\n\\nBrand: {{$json.brand}}\\nTag: {{$json.tag}}\\nDay: {{$json.day}}\\nSeverity: {{$json.severity}}\\n\\nConfidence: {{$json.payload.final_confidence || 'n/a'}}\\nReason: {{$json.payload.reason || 'n/a'}}\\n",
        "options": {
          "lowercaseHeaders": true,
          "headerParameters": {
            "parameters": [
              { "name": "title", "value": "EVA Finance Alert" },
              { "name": "priority", "value": "4" }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [1620, -80],
      "id": "d0b1e3e0-3b2a-4d5e-8f6b-1f2e3c4d5a66",
      "name": "Notify (ntfy)"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE public.signal_events\nSET acknowledged = true\nWHERE id = {{$json.id}};"
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [1820, -80],
      "id": "a7b8c9d0-1e2f-4a5b-8c9d-0e1f2a3b4c5d",
      "name": "PG: Ack Event",
      "credentials": {
        "postgres": {
          "id": "__SET_ME__",
          "name": "__SET_ME__"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE public.signal_events\nSET acknowledged = true\nWHERE id = {{$json.id}};"
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [1620, 120],
      "id": "f1e2d3c4-b5a6-4789-9abc-def012345678",
      "name": "PG: Ack (non-eligible)",
      "credentials": {
        "postgres": {
          "id": "__SET_ME__",
          "name": "__SET_ME__"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [[{ "node": "HTTP Request", "type": "main", "index": 0 }]]
    },
    "HTTP Request": {
      "main": [[{ "node": "Code in JavaScript", "type": "main", "index": 0 }]]
    },
    "Code in JavaScript": {
      "main": [[{ "node": "HTTP Request1", "type": "main", "index": 0 }]]
    },
    "HTTP Request1": {
      "main": [[{ "node": "Merge (collapse)", "type": "main", "index": 0 }]]
    },
    "Merge (collapse)": {
      "main": [[{ "node": "PG: Fetch Events", "type": "main", "index": 0 }]]
    },
    "PG: Fetch Events": {
      "main": [[{ "node": "Split In Batches (1)", "type": "main", "index": 0 }]]
    },
    "Split In Batches (1)": {
      "main": [[{ "node": "IF: Eligible?", "type": "main", "index": 0 }]]
    },
    "IF: Eligible?": {
      "main": [
        [{ "node": "Notify (ntfy)", "type": "main", "index": 0 }],
        [{ "node": "PG: Ack (non-eligible)", "type": "main", "index": 0 }]
      ]
    },
    "Notify (ntfy)": {
      "main": [[{ "node": "PG: Ack Event", "type": "main", "index": 0 }]]
    },
    "PG: Ack Event": {
      "main": [[{ "node": "Split In Batches (1)", "type": "main", "index": 1 }]]
    },
    "PG: Ack (non-eligible)": {
      "main": [[{ "node": "Split In Batches (1)", "type": "main", "index": 1 }]]
    }
  },
  "active": true,
  "settings": { "executionOrder": "v1" }
}
